---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Rasio | Software Engineer">
	<main>
		<section class="h-2/6 my-20 flex flex-col">
			<div>
				<h2 class="text-xl font-bold tracking-normal text-primary">Hi 👋🏻,<span transition:name="name" class=" text-primary"> I'm Rasio Atmaja</span> </h2>
				<p class="text-lg font-light text-gray-800 mt-3">I am a software engineer with a Bachelor’s degree in Computer Science, specializing in backend development. Over the past five years, I have collaborated with both startups and enterprise-level projects across diverse industries, including media, advertising, and aquaculture.</p>

				<p class="text-lg font-light text-gray-800 mt-3">I have actively participated in various projects, where I contributed to the design, coding, and deployment of scalable, maintainable applications such as authentication services, user-facing apps, and transportation management systems. I thrive on tackling challenges and delivering innovative solutions that drive success.</p>
			</div>
		</section>
		<section class="h-2/6 my-20 flex flex-col">
			<div class="mb-5">
				<h2 class="text-lg font-medium tracking-wide text-secondary">EDUCATION</h2>
				<h1 class="text-4xl font-black tracking-tight my-1">Learning for Shaping Futures</h1>
				<p class="text-lg font-light text-gray-500">My academic background fuels my passion for continuous learning in the ever-evolving tech landscape</p>
			</div>

			<div class="grid grid-cols-1 gap-4">
				<div class="p-4 border rounded-lg flex flex-col space-y-1">
					<p class="text-lg font-bold text-primary">Bachelor Degree, Major in Computer Science</p>
					<p class="font-light text-gray-500">Brawijaya University - Indonesia</p>
					<p class="text-sm font-light text-secondary">Sept 2015 - Jan 2019</p>
					<p class="text-sm text-gray-700">Graduated with honors, GPA 3.77 of 4.0</p>
				</div>
			</div>	
		</section>

		<section class="h-2/6 my-20 flex flex-col">
			<div class="mb-5">
				<h2 class="text-lg font-medium tracking-wide text-secondary">PUBLICATION</h2>
				<h1 class="text-4xl font-black tracking-tight my-1">Exploring Tech Through Research</h1>
				<p class="text-lg font-light text-gray-500">By exploring key topics and sharing insights, I aim to inspire collaboration in the dynamic world of technology.</p>
			</div>

			<div class="grid grid-cols-1 gap-4">
				<div class="p-4 border rounded-lg flex flex-col space-y-1">
					<p class="text-lg font-bold text-primary">
						Pembangunan Kakas Bantu Untuk Mengukur Maintainability Index Pada Perangkat Lunak <span class="ml-2 border border-rounded border-gray-500 px-2 py-0 text-sm text-gray-500 font-normal rounded-md">ID</span></p>
					<p class="font-light text-gray-500">Jurnal Pengembangan Teknologi Informasi dan Ilmu Komputer</p>
					<p class="text-sm font-light text-secondary">Jan 8, 2019</p>
					<a href="https://j-ptiik.ub.ac.id/index.php/j-ptiik/article/view/4625" target="__blank" class="text-sm text-gray-700">Journal ↗</a>
				</div>
			</div>	
		</section>
	</main>
</Layout>
