---
import Layout from '../layouts/Layout.astro';

import EndSection from '../components/EndSection.astro';
import Experience from '../components/Experience.astro';
import Project from '../components/Project.astro';
---

<Layout title="Rasio | Software Engineer">
	<main>
		<section class="h-2/3 my-20 flex flex-col text-center">
			<div>
				<h2 class="text-lg font-medium tracking-wide">Hi, I'm Rasio</h2>
				<h1 class="text-3xl md:text-4xl md:px-10 font-serif tracking-wide">Making complex backend feel simple, delivering clarity and performance</h1>
			</div>
		</section>
		<Project />
		<Experience />
		<EndSection />
	</main>
</Layout>
