---

let experiences = [
        {
            "tittle":"Software Engineer, Backend",
            "company":"Engineering, eFishery",
            "dates":"2022 - 2025",
            "desc": "As a Software Engineer, I was involved in developing internal applications. My responsibilities included designing and implementing various features that support the operational needs of the company. In development, most of my development time uses Golang to leveraging the language's strengths in handling concurrency and high performance. I also using RabbitMQ as a message broker to facilitated efficient communication between microservices"
        },
        {
            "tittle":"Software Engineer, Backend",
            "company":"Engineering, IDN Media",
            "dates":"2019 - 2022",
            "desc":"As a Software Engineer, I helped build and maintain high-quality and scalable Golang and PHP microservices for IDN Media. We automated our development and deployment processes using Azure Pipelines and GitHub Actions to streamline our workflows and ensure code quality and consistency while reducing manual effort."
        },
		{
            "tittle":"Graduated with a Computer Science Degree",
            "company":"Computer Science Faculty, Brawijaya University",
            "dates":"2015 - 2019",
            "desc":"As my final project (Thesis), I developed the Maintainability Index Calculation System, an application that provides valuable insights into the maintainability of software projects based on their source code. The application analyzes Java source code and calculates its maintainability index (Halstead Volume, Cyclomatic Complexity, and Lines of Code), providing a clear indication of the effort required to understand, modify, and extend the codebase."
        },
		{
            "tittle":"Software Engineer, Intern",
            "company":"Brawijaya Library, Brawijaya University",
            "dates":"2018",
            "desc":"During my internship at the Brawijaya University Library, I had the opportunity to design, build, and deploy a PHP RESTful API to meet the requirements of library stakeholders. This API provided seamless access to book information and transaction data for departments and faculties across the university."
        },
		{
            "tittle":"Lab Assitant",
            "company":"Basis Data laboratory Computer Science Faculty",
            "dates":"2016 - 2018",
            "desc":"As a Laboratory Assistant in the Computer Science Faculty, I had the privilege of assisting lecturers and 41 students in the practical sessions, helping them understand and apply database concepts using Microsoft SQL Server. And also I worked closely with lecturers to understand their teaching objectives and aligned my assistance to support their lesson plans."
        },
    ]
---

<section class="min-h-full my-10">
	<div class="mb-5">
		<h2 class="text-lg font-medium tracking-wide text-secondary">EXPERIENCE</h2>
		<h1 class="text-4xl font-black tracking-tight my-1">Discovering the World of Tech</h1>
		<p class="text-lg font-light text-gray-500">My career journey as software engineer</p>
	</div>
	
	<div class="grid grid-cols-1 gap-4">
        {experiences.map((job) => (
            <div class="p-4 border rounded-lg flex flex-col space-y-1">
				<p class="text-lg font-bold text-primary">{job.tittle}</p>
				<p class="font-light text-gray-500">{job.company}</p>
				<p class="text-sm font-light text-secondary">{job.dates}</p>
				<p class="text-gray-700">{job.desc}</p>
			</div>
        ))}
	</div>	
</section>
