---
---

<div class="flex space-x-5 items-center">
    <a href="mailto:contact@rasio.dev"><img src="/icons/email.svg" alt="Email Icon" width="20" height="20"></a>
	<a href="https://www.linkedin.com/in/rasatmaja/"><img src="/icons/linkedIn.svg" alt="LinkedIn Icon" width="20" height="20"></a>
    <a href="https://github.com/rasatmaja"><img src="/icons/github.svg" alt="Github Icon" width="20" height="20"></a>
    <a href="https://www.instagram.com/rasatmaja/"><img src="/icons/instagram.svg" alt="Instagram Icon" width="20" height="20"></a>
    <a href="https://twitter.com/rasatmaja"><img src="/icons/twitter.svg" alt="Twitter Icon" width="20" height="20"></a>
</div>
